@use "sass:math";

$violet: #312037;
$red: #dd0c0c;
$light-blue: #e0d2e5;
$dark-grey: #545454;

@mixin title {
  color: white;
  font-size: rem(24px);
  line-height: 1.5;
  font-family: "Abril Fatface";
  font-weight: lighter;
  position: relative;
  letter-spacing: rem(1px);
  margin: rem(20px) 0;

  &:after {
    content: "";
    width: 45px;
    height: 2px;
    background-color: $red;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@function rem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}
