@import "@assets/scss/variables.scss";

.actor {
  &__picture {
    height: 60vh;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  &__back-icon {
    position: absolute;
    margin: rem(20px) 0 0 rem(20px);
    width: rem(25px);
  }

  &__content {
    padding: rem(20px);
  }

  &__title {
    @include title;
    color: black;
    margin-bottom: rem(30px);
  }

  &__item {
    display: flex;
    padding: rem(10px);
    box-shadow: 0 3px 11px -6px rgb(0 0 0 / 60%);
    margin-bottom: rem(20px);
    border-left: 2px solid $red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
