@import "@assets/scss/variables.scss";

.home {
  height: 100vh;
  max-height: 100%;
  padding: rem(25px);
  background-color: $violet;
  overflow: scroll;

  &__title {
    @include title;
  }

  &__subtitle {
    color: $light-blue;
    font-size: rem(16px);
    letter-spacing: rem(0.2px);
    line-height: rem(20px);
    margin-bottom: rem(20px);
  }
}

.background {
  background-image: url("src/assets/img/background-first.png");
  background-size: cover;
  background-repeat: no-repeat;
}
