@import "src/assets/scss/variables.scss";

.container {
  height: 100vh;
  max-height: 100%;
  padding: 20px;
  background-color: $violet;

  .title {
    @include title;
  }
}

.background {
  background-image: url("src/assets/img/background-first.png");
  background-size: cover;
  background-repeat: no-repeat;
}
