@import "@assets/scss/variables.scss";

.full-card {
  height: 70vh;
  border-radius: 5px;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: flex-end;
  padding: rem(30px);

  &__title {
    color: white;
    font-size: rem(22px);
    line-height: rem(24px);
    font-weight: lighter;
    margin-bottom: rem(30px);
  }

  &__link {
    color: white;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;

    p {
      margin-right: rem(5px);
    }
  }

  &__content {
    width: 100%;
  }
}
