@import "@assets/scss/variables.scss";

.semi-card {
  &__content {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: rem(20px);
  }

  &__title {
    font-size: rem(18px);
    margin-bottom: rem(15px);
  }

  &__text {
    color: $dark-grey;
    font-weight: 500;
    margin-bottom: rem(15px);
  }

  &__illustration {
    background-size: cover;
    height: 30vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__read-more {
    color: black;
    margin-right: rem(5px);
  }
}

.musical {
  @include movieBackground("musical");
}
.drama {
  @include movieBackground("drama");
}
.western {
  @include movieBackground("western");
}
.war {
  @include movieBackground("war");
}
.thriller {
  @include movieBackground("thriller");
}
.sciencefiction {
  @include movieBackground("sciencefiction");
}
.romance {
  @include movieBackground("romance");
}
.policier {
  @include movieBackground("policier");
}
.auto {
  @include movieBackground("auto");
}
.aventure {
  @include movieBackground("aventure");
}
.comedie {
  @include movieBackground("comedie");
}
