@import "@assets/scss/variables.scss";

.semi-card {
  &__content {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: rem(20px);
  }

  &__title {
    font-size: rem(18px);
    margin-bottom: rem(15px);
  }

  &__text {
    color: $dark-grey;
    font-weight: 500;
    margin-bottom: rem(15px);
  }

  &__illustration {
    background-size: cover;
    height: 30vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__link {
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__read-more {
    color: black;
    margin-right: rem(5px);
  }
}

.musical {
  background-image: url("src/assets/img/musical.jpg");
}
.drama {
  background-image: url("src/assets/img/drama.jpg");
}
.western {
  background-image: url("src/assets/img/western.jpg");
}
.war {
  background-image: url("src/assets/img/war.jpg");
}
.thriller {
  background-image: url("src/assets/img/thriller.jpg");
}
.scienceFiction {
  background-image: url("src/assets/img/scienceFiction.jpg");
}
.romance {
  background-image: url("src/assets/img/romance.jpg");
}
.policier {
  background-image: url("src/assets/img/policier.jpg");
}
.auto {
  background-image: url("src/assets/img/auto.jpg");
}
.aventure {
  background-image: url("src/assets/img/aventure.jpg");
}
