@import "@assets/scss/variables.scss";

.actors {
  background-color: $violet;
  padding: rem(25px);

  @include laptop {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    margin-bottom: rem(25px);

    @include laptop {
      width: 25%;
      margin: rem(7px);
    }
  }

  &__title {
    @include title;
  }

  .actors__icon-back {
    width: rem(25px);
  }
}
