@import "@assets/scss/variables.scss";

.actors {
  height: 100vh;
  overflow: scroll;
  background-color: $violet;
  padding: rem(25px);

  &__item {
    margin-bottom: rem(25px);
  }

  &__title {
    @include title;
  }

  .icon-back {
    width: rem(25px);
  }
}
