*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Open Sans Regular";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  letter-spacing: 0.2px;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("./assets/fonts/Open_Sans/OpenSans-Light.ttf") format("woff2");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("./assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Open Sans Medium";
  src: url("./assets/fonts/Open_Sans/OpenSans-Medium.ttf") format("woff");
}

@font-face {
  font-family: "Abril Fatface";
  src: url("./assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf")
    format("woff2");
}

.icon {
  width: 20px;
  height: 20px;
}

.icon--reverse {
  transform: rotateY(180deg);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  display: block;
}

.app__loading-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #312037;
  color: white;
}
